div.page {
    margin: 0 auto;
    width: 1600px;
    height: 100%;
}

img.background {
    width: 1600px;
    height: 100%;
    position: fixed;
    filter: grayscale(100%);
    z-index: -1;
}

div.header {
    position: relative;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;

}
div.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div.menu-title {
    font-family: 'Montserrat', sans-serif;
    padding-left: 260px
}
div.menu-items {
    padding-left: 300px;
    line-height: 50px;
}
a {
    text-decoration: none;
    margin-left: 14px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: rgb(188, 188, 188);
}
a:hover {
    color: black;
}
div.content {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-inline-start: 0%;
}
div.login {
    background-image: url('./assets/lawyer.jpg');
    background-size: cover;
    /* filter: brightness(70%); */
    width: 100%;
    height: 700px;
}
div.login-box {
    /* filter: brightness(100%); */
    width: 380px;
    height: 430px;
    position: relative;
    top: 145px;
    left: 16.5%;
    background: #0B3D5D;
    box-sizing: border-box;
    padding: 30px 40px;
    z-index: 1;
}
div.l-inner-box {
    margin-top: 10px;
}
.l-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin-bottom: 4px;
}
.l-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    font-size: 35px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.l-tip {
    color:#FADD16;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 100;
}
.text-input {
    height: 40px;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.button-input {
    width: 49%;
    height: 40px;
    border: #fadc1b;
    background-color: #FADD16;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 350;
    margin-top: 15px;
    padding:10px 10px;
}
div.features {
    position: relative;
    background-color: white;
}
div.feature-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 200px 80px 200px;
    left: 10%;
    columns: 3;
    column-gap: 20px;
    line-height: 50px;
}
div.feature {
    padding: 20px 20px;
    width: 330px;
}
p.f-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 30px;
}
p.f-text {
    line-height: 20px;
    font-size: 13px;
    font-weight: lighter;
    color: gray;
}
div.sentences {
    position: relative;
    background-color: whitesmoke;
    text-align: center;
}
p.sentence {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    margin: 0;
    padding: 150px 200px 10px 200px;
}
p.author {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color: gray;
    margin: 0;
    padding: 10px 200px 150px 200px;
}
div.prices {
    position: relative;
    background-color: rgba(255, 255, 255, 0.649);
    text-align: center;
}
p.price-title {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    padding: 50px 200px 10px 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.pricing-plans{
    padding: 10px 280px 70px 310px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
div.pricing-plan{
    width: 300px;
    background-color: white;
    background-image: 
    linear-gradient(0deg, transparent 0%, 
    transparent calc(5% - 0.5px), rgb(213, 211, 211) 5%, transparent calc(5% + 0.5px), 
    transparent calc(10% - 0.5px), rgb(213, 211, 211) 10%, transparent calc(10% + 0.5px), 
    transparent calc(15% - 0.5px), rgb(213, 211, 211) 15%, transparent calc(15% + 0.5px), 
    transparent calc(20% - 0.5px), rgb(213, 211, 211) 20%, transparent calc(20% + 0.5px), 
    transparent calc(25% - 0.5px), rgb(213, 211, 211) 25%, transparent calc(25% + 0.5px), 
    transparent calc(30% - 0.5px), rgb(213, 211, 211) 30%, transparent calc(30% + 0.5px),
    transparent calc(35% - 0.5px), rgb(213, 211, 211) 35%, transparent calc(35% + 0.5px),
    transparent calc(40% - 0.5px), rgb(213, 211, 211) 40%, transparent calc(40% + 0.5px),
    transparent calc(45% - 0.5px), rgb(213, 211, 211) 45%, transparent calc(45% + 0.5px),
    transparent calc(50% - 0.5px), rgb(213, 211, 211) 50%, transparent calc(50% + 0.5px),
    transparent calc(55% - 0.5px), rgb(213, 211, 211) 55%, transparent calc(55% + 0.5px),
    transparent calc(60% - 0.5px), rgb(213, 211, 211) 60%, transparent calc(60% + 0.5px),
    transparent calc(65% - 0.5px), rgb(213, 211, 211) 65%, transparent calc(65% + 0.5px),
    transparent calc(70% - 0.5px), rgb(213, 211, 211) 70%, transparent calc(70% + 0.5px),
    transparent calc(75% - 0.5px), rgb(213, 211, 211) 75%, transparent calc(75% + 0.5px),
    transparent calc(80% - 0.5px), rgb(213, 211, 211) 80%, transparent calc(80% + 0.5px),
    transparent calc(85% - 0.5px), rgb(213, 211, 211) 85%, transparent calc(85% + 0.5px),
    transparent calc(90% - 0.5px), rgb(213, 211, 211) 90%, transparent calc(90% + 0.5px),
    transparent calc(95% - 0.5px), rgb(213, 211, 211) 95%, transparent calc(95% + 0.5px),
    transparent calc(100% - 0.5px), rgb(213, 211, 211) 100%),
    linear-gradient(90deg, transparent 0%, 
    transparent calc(5% - 0.5px), rgb(213, 211, 211) 5%, transparent calc(5% + 0.5px), 
    transparent calc(10% - 0.5px), rgb(213, 211, 211) 10%, transparent calc(10% + 0.5px), 
    transparent calc(15% - 0.5px), rgb(213, 211, 211) 15%, transparent calc(15% + 0.5px), 
    transparent calc(20% - 0.5px), rgb(213, 211, 211) 20%, transparent calc(20% + 0.5px), 
    transparent calc(25% - 0.5px), rgb(213, 211, 211) 25%, transparent calc(25% + 0.5px), 
    transparent calc(30% - 0.5px), rgb(213, 211, 211) 30%, transparent calc(30% + 0.5px),
    transparent calc(35% - 0.5px), rgb(213, 211, 211) 35%, transparent calc(35% + 0.5px),
    transparent calc(40% - 0.5px), rgb(213, 211, 211) 40%, transparent calc(40% + 0.5px),
    transparent calc(45% - 0.5px), rgb(213, 211, 211) 45%, transparent calc(45% + 0.5px),
    transparent calc(50% - 0.5px), rgb(213, 211, 211) 50%, transparent calc(50% + 0.5px),
    transparent calc(55% - 0.5px), rgb(213, 211, 211) 55%, transparent calc(55% + 0.5px),
    transparent calc(60% - 0.5px), rgb(213, 211, 211) 60%, transparent calc(60% + 0.5px),
    transparent calc(65% - 0.5px), rgb(213, 211, 211) 65%, transparent calc(65% + 0.5px),
    transparent calc(70% - 0.5px), rgb(213, 211, 211) 70%, transparent calc(70% + 0.5px),
    transparent calc(75% - 0.5px), rgb(213, 211, 211) 75%, transparent calc(75% + 0.5px),
    transparent calc(80% - 0.5px), rgb(213, 211, 211) 80%, transparent calc(80% + 0.5px),
    transparent calc(85% - 0.5px), rgb(213, 211, 211) 85%, transparent calc(85% + 0.5px),
    transparent calc(90% - 0.5px), rgb(213, 211, 211) 90%, transparent calc(90% + 0.5px),
    transparent calc(95% - 0.5px), rgb(213, 211, 211) 95%, transparent calc(95% + 0.5px),
    transparent calc(100% - 0.5px), rgb(213, 211, 211) 100%),
    linear-gradient(45deg, transparent 0%, 
    transparent calc(5% - 0.5px), rgb(213, 211, 211) 5%, transparent calc(5% + 0.5px), 
    transparent calc(10% - 0.5px), rgb(213, 211, 211) 10%, transparent calc(10% + 0.5px), 
    transparent calc(15% - 0.5px), rgb(213, 211, 211) 15%, transparent calc(15% + 0.5px), 
    transparent calc(20% - 0.5px), rgb(213, 211, 211) 20%, transparent calc(20% + 0.5px), 
    transparent calc(25% - 0.5px), rgb(213, 211, 211) 25%, transparent calc(25% + 0.5px), 
    transparent calc(30% - 0.5px), rgb(213, 211, 211) 30%, transparent calc(30% + 0.5px),
    transparent calc(35% - 0.5px), rgb(213, 211, 211) 35%, transparent calc(35% + 0.5px),
    transparent calc(40% - 0.5px), rgb(213, 211, 211) 40%, transparent calc(40% + 0.5px),
    transparent calc(45% - 0.5px), rgb(213, 211, 211) 45%, transparent calc(45% + 0.5px),
    transparent calc(50% - 0.5px), rgb(213, 211, 211) 50%, transparent calc(50% + 0.5px),
    transparent calc(55% - 0.5px), rgb(213, 211, 211) 55%, transparent calc(55% + 0.5px),
    transparent calc(60% - 0.5px), rgb(213, 211, 211) 60%, transparent calc(60% + 0.5px),
    transparent calc(65% - 0.5px), rgb(213, 211, 211) 65%, transparent calc(65% + 0.5px),
    transparent calc(70% - 0.5px), rgb(213, 211, 211) 70%, transparent calc(70% + 0.5px),
    transparent calc(75% - 0.5px), rgb(213, 211, 211) 75%, transparent calc(75% + 0.5px),
    transparent calc(80% - 0.5px), rgb(213, 211, 211) 80%, transparent calc(80% + 0.5px),
    transparent calc(85% - 0.5px), rgb(213, 211, 211) 85%, transparent calc(85% + 0.5px),
    transparent calc(90% - 0.5px), rgb(213, 211, 211) 90%, transparent calc(90% + 0.5px),
    transparent calc(95% - 0.5px), rgb(213, 211, 211) 95%, transparent calc(95% + 0.5px),
    transparent calc(100% - 0.5px), rgb(213, 211, 211) 100%),
    linear-gradient(135deg, transparent 0%, 
    transparent calc(5% - 0.5px), rgb(213, 211, 211) 5%, transparent calc(5% + 0.5px), 
    transparent calc(10% - 0.5px), rgb(213, 211, 211) 10%, transparent calc(10% + 0.5px), 
    transparent calc(15% - 0.5px), rgb(213, 211, 211) 15%, transparent calc(15% + 0.5px), 
    transparent calc(20% - 0.5px), rgb(213, 211, 211) 20%, transparent calc(20% + 0.5px), 
    transparent calc(25% - 0.5px), rgb(213, 211, 211) 25%, transparent calc(25% + 0.5px), 
    transparent calc(30% - 0.5px), rgb(213, 211, 211) 30%, transparent calc(30% + 0.5px),
    transparent calc(35% - 0.5px), rgb(213, 211, 211) 35%, transparent calc(35% + 0.5px),
    transparent calc(40% - 0.5px), rgb(213, 211, 211) 40%, transparent calc(40% + 0.5px),
    transparent calc(45% - 0.5px), rgb(213, 211, 211) 45%, transparent calc(45% + 0.5px),
    transparent calc(50% - 0.5px), rgb(213, 211, 211) 50%, transparent calc(50% + 0.5px),
    transparent calc(55% - 0.5px), rgb(213, 211, 211) 55%, transparent calc(55% + 0.5px),
    transparent calc(60% - 0.5px), rgb(213, 211, 211) 60%, transparent calc(60% + 0.5px),
    transparent calc(65% - 0.5px), rgb(213, 211, 211) 65%, transparent calc(65% + 0.5px),
    transparent calc(70% - 0.5px), rgb(213, 211, 211) 70%, transparent calc(70% + 0.5px),
    transparent calc(75% - 0.5px), rgb(213, 211, 211) 75%, transparent calc(75% + 0.5px),
    transparent calc(80% - 0.5px), rgb(213, 211, 211) 80%, transparent calc(80% + 0.5px),
    transparent calc(85% - 0.5px), rgb(213, 211, 211) 85%, transparent calc(85% + 0.5px),
    transparent calc(90% - 0.5px), rgb(213, 211, 211) 90%, transparent calc(90% + 0.5px),
    transparent calc(95% - 0.5px), rgb(213, 211, 211) 95%, transparent calc(95% + 0.5px),
    transparent calc(100% - 0.5px), rgb(213, 211, 211) 100%);
}
div.p-inner-box {
    padding: 50px 20px 60px 20px;
    font-family: 'Montserrat', sans-serif;
}
p.plan-title {
    padding-bottom: 10px;
    font-size: 13px;
}
div.plan-text {
    font-size: 11px;
    line-height: 20px;
}
p.plan-price {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    /* font-weight: bold; */
}
.plan-button {
    background-color: #0B3D5D;
    border: #0B3D5D;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 10px 10px;
    margin-top: 20px;
    width: 120px;
    height: 50px;
}
div.try {
    background-image: url('./assets/notebook.jpg');
    background-size: cover;
    background-position: 50% 55%;
    width: 100%;
    height: 450px;
    position: relative;
    text-align: center;
}
div.try-content {
    background-color: #092f47dc;
    height: 100%;
}
p.try-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 450;
    color: white;
    padding: 130px 200px 10px 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.try-tip {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 5px 200px 5px 200px;
    margin-top: 0px;
    margin-top: 0px;
}
input.try-button{
    background-color: #FADD16;
    border: #FADD16;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 10px 10px;
    margin-top: 10px;
    width: 170px;
    height: 45px;
}
div.contact {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    background-color: #151c25;
    padding-bottom: 100px;
    text-align: center;
}
div.contact-info {
    color: white;
}
p.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 450;
    padding: 100px 200px 10px 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p.address {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-top: 0px;
}
div.social-medias{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
    margin-left: 660px;
}
img.social-media-icon {
    width: 35px;
    height: 35px;
    margin-top: 20px;
}